body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 15vh;
}

.sp-sakib {
    color: orangered;
}

.flexible-content {
    display: flex;
}

p {
    font-family: 'Kanit', sans-serif;
}

.di-cls {
    width: 50%;
}

.di-cls img {
    width: 80%;
    padding: 20px;
}

.click-me {
    text-decoration: none;
    background-color: rgb(23, 216, 39);
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(rgb(74, 10, 186), rgb(27, 79, 27));
    color: white;
    font-weight: 800;
}

.first-sec {
    background-image: url(images/back1.webp);
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px;
}

.flexible-content {
    display: flex;
    padding-top: 60px;
}

.secnd-sec {
    background-image: url(images/back2.jpeg);
    background-repeat: no-repeat;
    display: flex;
    padding-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.card-th {
    display: flex;
}

h3 {
    color: maroon;
}

.new-card {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 80%;
    margin-left: 70px;
    margin-right: 70px;
    padding: 0 30px;
    border-radius: 15px;
    background-color: white;
}

.third-heading {
    font-size: 9vh;
    text-align: center;
    font-weight: 800;
    color: aliceblue;
    letter-spacing: 10px;
}

.sec-third {
    padding-top: 30px;
    padding-bottom: 50px;
    background-image: url(images/back3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bord-one {
    border-left: 6px solid red;
}

#bord-two {
    border-left: 6px solid yellow;
}

.sec-fourth {
    padding: 15px;
    background-color: black;
}

.sec-fourth p {
    text-align: center;
    color: aqua;
}